<html>

<head>
    <title>Tickets4Sale</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    {{ include('navbar.html') }}


    {% block content %}
    {% endblock %}

    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.bootstrap-touchspin.min.js"></script>
    <script src="../js/app.js"></script>
</body>

</html>
